<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
	
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/">单词助手   第{{ lines+1 }}天</a></li>
	</ul>
	<div id="info">
		<form action="" enctype='multipart/form-data' method='POST'>
			<div id="info-header">
				today english {{ lines+1 }}
			</div>
		{% for i in numbers %}
			<div id="age" class="info-input-box">
				<input type="text" placeholder="中文{{i}}" name=up_cn_{{i}}>
			</div>
			<div id="phone" class="info-input-box" >
				<input type="text" placeholder="英文{{i}}" name=up_en_{{i}}>
			</div>
		{% endfor %}

		<div id="file">
			<input type="submit" value="上传" >
			<!-- <input type="submit" value="上传" onclick="alert('提交成功')"> -->
		</div>
        
    </form>
	</div>
    
</body>
</html>