<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
	
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/">wrong book   </a></li>
	</ul>
	<div id="info">
		<form action="" enctype='multipart/form-data' method='POST'>
			<div id="info-header">
				wrong book 
			</div>
		{% for i in exercise_words %}
			<div id="age" class="info-input-box">
				{{ number }} {{ i }}   {{ exercise_words[i] }}
				<select name=up_cn_{{i}} placeholder="性别">
					<option value=1> 对 </option>
					<option value=0> 错 </option>
				</select>
			</div>
		{% endfor %}

		<div id="file">
			<input type="submit" value="上传" onclick="alert('提交成功')" style="width:100px;height:60px" >
		</div>
        
    </form>
	</div>
    
</body>
</html>